@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
 
}
@font-face {
    font-family: 'Tahoma';
    src: url('tahoma.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 