@import 'tailwindcss';

#OS {
    overflow: hidden;
}

#desktop {
    background-image: url('/car_on_mars.jpg');
    background-size: cover;
    background-position: center left;
    will-change: auto;
}

#lockscreen {
    background-image: url('/astronaut.png');
    /* background-image: url('/car_on_mars.jpg'); */
    background-size: cover;
    background-position: center right;
    will-change: auto;
    transition: 1s;
}

.jet {
    font-family: JetBrains Mono, monospace;
}

.react-clock {
    display: block;
    position: relative;
}

.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-clock__face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    border-radius: 50%;
}

.react-clock__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    border-radius: 50%;
}

.react-clock__hand__body {
    position: absolute;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 10px;
}

.react-clock__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.react-clock__mark__body {
    position: absolute;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 10px;
}

.react-clock__mark__number {
    position: absolute;
    left: -40px;
    width: 80px;
    text-align: center;
}

.react-clock__second-hand__body {
    background-color: red;
    transition: 0.5s all;
}

.react-clock__hand.react-clock__second-hand {
    transition: 1s;
}

.react-clock__minute-mark {
    display: none;
}

.react-clock__mark__number {
    color: white
}