@import "tailwindcss";

.inter {
    font-family: 'Inter', sans-serif;
}

.tahoma {
    font-family: 'Tahoma', sans-serif;
}

section {
    background-image: url(images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#start #starticon {
    font-family: inter;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(#7fbf4d, #4f8f2f);
    border: 1px solid #3a6f22;
    /* border-radius: 12px; */
    padding: 4px 18px 4px 10px;
    text-shadow: 0 -1px 0 #0a246a;
}

#start-menu {
    background: linear-gradient(0deg, #74AAE8 0%, #1969D2 1%, #2174DB 6%, #4792EC 13%, #448BE3 92%, #2577DF 96%, #0D5BC7 100%);
    border: 2px solid #215CC5;
    box-shadow: inset 0 -5px 40px 10px rgba(9, 74, 189, 0.66);
}

#start-usermenu {
    background: linear-gradient(180deg, #67A2E7 0%, #74AAE8 4%, #1969D2 6%, #0C60CB 17%, #0C60CB 24%, #186AD1 43%, #2474DB 60%, #3382E4 78%, #4792EC 100%);
}

#start-powermenu {
    background: linear-gradient(0deg, #67A2E7 0%, #74AAE8 4%, #1969D2 6%, #0C60CB 17%, #0C60CB 24%, #186AD1 43%, #2474DB 60%, #3382E4 78%, #4792EC 100%);
}

.line {
    background: linear-gradient(90deg, #D3D3C800 0%, #D3D3C8 50%, #D3D3C800 100%);
}
.line-top {
    background: linear-gradient(90deg, #FF8A1D00 0%, #FF8A1D 50%, #FF8A1D00 100%);
}

*::-webkit-scrollbar-button {
    box-sizing: border-box;
    background: #465051;
    color: #F4F4ED;
    display: block;
    outline-offset: calc(2px * -1);
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0 0;
    border: 0;
    box-shadow: -1px -1px 0 0 #070809 inset, 1px 1px 0 0 #5e696a inset, -2px -2px 0 0 #1f2223 inset, 2px 2px 0 0 #ccd2d2 inset;
}
*::-webkit-scrollbar-corner {
    background-color: #465051;
}
*::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    display: inline-block;
    background: #465051;
    color: #F4F4ED;
    border: 0;
    box-shadow: -1px -1px 0 0 #070809 inset, 1px 1px 0 0 #5e696a inset, -2px -2px 0 0 #1f2223 inset, 2px 2px 0 0 #ccd2d2 inset;
}
*::-webkit-scrollbar-track {
    background-image: linear-gradient(45deg, #465051 25%, transparent 25%, transparent 75%, #465051 75%), linear-gradient(45deg, #465051 25%, transparent 25%, transparent 75%, #465051 75%);
    background-color: #ccd2d2;
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}